<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header md-accent-bg">
        <span class="h2">{{vm.product.ItemName}}</span>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" md-background-bg>

        <!-- DEMO CONTENT -->
        <ul>
          <li><strong>Nombre:</strong> {{vm.product.ItemName}}</li>
          <li><strong>Código:</strong> {{vm.product.ItemCode}}</li>
          <li><strong>Linea:</strong> {{vm.product.U_LINEA}}</li>
          <li><strong>Color:</strong> {{vm.product.U_COLOR}}</li>
          <li><strong>Garantia:</strong> {{vm.product.U_garantia}}</li>
          <li><strong>On Hand:</strong> {{vm.product.OnHand}}</li>

        </ul>
        <img src="assets/images/product.png" alt="">
        <!-- / DEMO CONTENT -->

    </div>
    <!-- / CONTENT -->

</div>
