<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Materiales de productos</div>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">


      <div class="page-layout simple fullwidth">

        <section class="md-whiteframe-z1">
          <md-toolbar class="demo-toolbar md-primary">
            <div class="md-toolbar-tools">
              <h3>Lista de materiales</h3>
            </div>
          </md-toolbar>
          <md-content class="md-padding">

            <div ng-show="vm.isLoading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
            </div>

            <form name="updateForm" ng-if="!vm.isLoading" ng-submit="vm.updateAll(updateForm)" class="md-inline-form" novalidate>

              <div class="editor-block" ng-repeat="group in vm.materialsGroups track by $index">
                <h2><strong>{{group.label}}</strong></h2>

                  <md-list>
                    <md-list-item ng-repeat="material in group.materials track by $index" class="noright">
                      <p>{{ material.Name }}</p>
                      <div class="md-secondary" layout="row">
                        <md-button ng-click="vm.openMaterialForm($event, 'edit', material, group)" class="md-raised md-primary">
                          Editar
                        </md-button>
                        <md-button ng-click="vm.removeMaterial($event,material.id,$index, group)" class="md-raised md-warn">
                          Eliminar
                        </md-button>
                      </div>
                    </md-list-item>
                  </md-list>

                  <div>
                    <md-button ng-click="vm.openMaterialForm($event, 'add', false, group)" class="md-raised md-primary action-button">
                      Agregar valor
                    </md-button>
                  </div>

              </div>

            </form>
          </md-content>
        </section>

      </div>


    </div>
    <!-- / CONTENT -->

</div>




