<md-dialog class="form-dialog" aria-label="Editar categoria" ng-cloak>

  <form name="updateForm" ng-submit="update(updateForm)" class="md-inline-form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar categoria</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>

      <div ng-show="isLoading" class="loading-wrapper" layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
      </div>

      <div ng-show="!isLoading" class="md-dialog-content">
        <div class="input-element">
          <label>Nombre*</label>
          <div class="input-element-inner">
            <input type="text" ng-model="category.Name" required placeholder="Nombre*">
          </div>
        </div>

        <div class="input-element">
          <label>Keywords</label>
          <div class="input-element-inner">
            <input type="text" ng-model="category.Keywords" placeholder="Keywords">
          </div>
        </div>

        <div class="input-element">
          <label>URL*</label>
          <div class="input-element-inner">
            <input type="text" ng-model="category.Handle" required placeholder="URL*">
          </div>
        </div>


        <div class="input-element textarea-element">
          <label>Descripción</label>
          <div class="input-element-inner">
            <textarea ng-model="category.Description" rows="5" placeholder="Descripción"></textarea>
          </div>
        </div>

        <p ng-if="category.CategoryLevel === 1">
          <a href="" ng-click="editRelations()">Editar relevancia de categorias</a>
        </p>
        
        <div class="input-element">
          <md-checkbox name="complement" ng-model="category.complement">
            <label>Complemento</label>
          </md-checkbox>
        </div>

        <div class="input-element">
          <md-checkbox name="complement" ng-model="category.onKidsMenu">
            <label>Actual Kids</label>
          </md-checkbox>
        </div>

        <!--CATEGORY PARENTS EDITOR-->
        <p ng-show="!categoriesGroups || categoriesGroups.length > 0">Cargando categorias...</p>
        <div ng-show="categoriesGroups" class="category-form-editor">
          <p>Nivel de categoria:
            <strong>{{category.CategoryLevel}}</strong>
          </p>
          <md-input-container style="margin: 0;">
            <md-select style="margin: 0;" class="select-element" ng-model="category.CategoryLevel">
              <md-option ng-value="1">Nivel 1</md-option>
              <md-option ng-value="2">Nivel 2</md-option>
              <md-option ng-value="3">Nivel 3</md-option>
            </md-select>
          </md-input-container>

          <h2 ng-if="!category.IsMain">
            <label>
              <strong>Categorias padre</strong>
            </label>
          </h2>

          <div layout="row" layout-wrap>
            <div ng-if="category.CategoryLevel > 1">
              <p>
                <label>
                  <strong>Categorias Nivel 1</strong>
                </label>
              </p>
              <div>
                <!--
                <md-checkbox class="spaced-checkbox" ng-repeat="category in categoriesGroups[0]" ng-model="category.selected">{{category.Name}}</md-checkbox>-->

                <md-input-container class="checkboxes-dropdown-wrap">
                  <md-select class="checkboxes-dropdown select-element" ng-model="selectedCategories[0]" data-md-container-class="selectdemoSelectHeader"
                    multiple>
                    <md-optgroup label="Categorias">
                      <md-option ng-value="category.id" ng-repeat="category in categoriesGroups[0] |
                       orderBy:'Name' | filter:searchTerm">{{category.Name}}</md-option>
                    </md-optgroup>
                  </md-select>
                </md-input-container>

              </div>
            </div>


            <div ng-if="category.CategoryLevel > 2 ">
              <p>
                <label>
                  <strong>Categorias Nivel 2</strong>
                </label>
              </p>
              <div>
                <md-input-container class="checkboxes-dropdown-wrap">
                  <md-select class="checkboxes-dropdown select-element" ng-model="selectedCategories[1]" data-md-container-class="selectdemoSelectHeader"
                    multiple>
                    <md-optgroup label="Categorias">
                      <md-option ng-value="category.id" ng-repeat="category in categoriesGroups[1] |
                       orderBy:'Name' | filter:searchTerm">{{category.Name}}</md-option>
                    </md-optgroup>
                  </md-select>
                </md-input-container>
              </div>

            </div>
          </div>
        </div>
        <!--END CATEGORY PARENTS EDITOR-->

      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancelar
      </md-button>
      <md-button ng-click="update(updateForm)" class="md-raised md-primary action-button">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
