#forgot-password {
    height: 100%;
    background: url('/assets/images/fondo-login.jpg') no-repeat;
    background-size: cover;

    #forgot-password-form-wrapper {
        flex: 1 0 auto;
        padding: 32px;

        .logo-wrapper{
          background: #000;
          padding: 32px;
        }


        #forgot-password-form {
            width: 340px;
            max-width: 384px;
            text-align: center;
            background: #FFFFFF;

            .logo {
                width: 128px;
                height: 128px;
                line-height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                color: #FFFFFF;
                border-radius: 2px;
            }

            .title {
                font-size: 17px;
                margin: 16px 0 32px 0;
            }

            form {
                width: 100%;
                text-align: left;
                padding: 10px 32px;

                .md-button {
                    background-color: #34BA2C;
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }

            .login {
                margin: 32px auto 24px auto;
                width: 250px;
                font-weight: 500;

                .text {
                    margin-right: 8px;
                }

                .link {

                }
            }

            .form-response-msg{
                background: #34BA2C;
                padding: 10px;
                width: 80%;
                margin: 0 auto;
                color: #fff;
            }
        }
    }
}

// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-xs) {

    #forgot-password {

        #forgot-password-form-wrapper {
            padding: 16px;

            #forgot-password-form {
                padding: 24px;
                width: 100%;

                form {

                    .md-button {
                        width: 90%;
                    }
                }
            }
        }
    }

}
