<section class="md-whiteframe-z1">
  <md-toolbar class="demo-toolbar md-primary">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h3>CARACTERSTICAS</h3>
       <md-button ng-click="vm.updateFeatures(featuresForm)" class="md-raised md-primary action-button">Guardar</md-button>
    </div>
  </md-toolbar>
  <md-content class="md-padding">

    <form name="featuresForm" ng-submit="vm.updateFeatures(featuresForm)" class="md-inline-form" novalidate>


      <!--FILTERS-->
      <div>
        <div layout="row" layout-wrap layout-align="start start">
          <div ng-if="vm.loadedFilters" ng-repeat="filter in vm.normalFilters | orderBy: 'IsMultiple' track by $index" class="filter-column" flex="33" flex-xs="100">

            <div ng-if="filter.IsMultiple && filter.id != vm.colorFilterId " class="scroll-column">
              <p ng-if="filter.IsMultiple" class="select-element-label">
                <label><strong>{{filter.Name}}</strong></label>
              </p>
              <md-input-container class="checkboxes-dropdown-wrap">
                <md-select class="checkboxes-dropdown select-element select-element-md2" ng-model="filter.selectedValues"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple
                >
                  <md-optgroup label="Valores">
                    <md-option ng-value="value.id" ng-repeat="value in filter.Values |
                      filter:searchTerm track by $index">{{value.Name}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>

            </div>

            <div ng-if="!filter.IsMultiple && filter.id != vm.colorFilterId ">
              <p class="select-element-label"><label><strong>{{filter.Name}}</strong></label></p>
              <md-input-container>
                <md-select class="select-element select-element-md2" placeholder="{{filter.Name}}" ng-model="filter.selectedValue">
                  <md-option value="false">Ninguno</md-option>
                  <md-option ng-repeat="value in filter.Values track by $index" value="{{$index}}">
                    {{value.Name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

          </div>
        </div>


      </div>
      <!--END FILTERS-->

      <!--VARIANT FILTERS-->
      <section  class="variant-filters-wrap">
        <h2><strong>VARIANTES</strong></h2>
        <div layout="row" layout-wrap layout-align="start start">

          <div ng-if="vm.loadedFilters" ng-repeat="filter in vm.variantFilters | orderBy: 'IsMultiple' track by $index" class="filter-column" flex="33" flex-xs="100">

            <div ng-if="filter.IsMultiple && filter.id != vm.colorFilterId " class="scroll-column">
              <p ng-if="filter.IsMultiple" class="select-element-label">
                <label><strong>{{filter.Name}}</strong></label>
              </p>
              <md-input-container class="checkboxes-dropdown-wrap">
                <md-select class="checkboxes-dropdown select-element select-element-md2" ng-model="filter.selectedValues"
                   data-md-container-class="selectdemoSelectHeader"
                   multiple
                >
                  <md-optgroup label="Valores">
                    <md-option ng-value="value.id" ng-repeat="value in filter.Values |
                      filter:searchTerm">{{value.Name}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>

            </div>

            <div ng-if="!filter.IsMultiple && filter.id != vm.colorFilterId ">
              <p class="select-element-label"><label><strong>{{filter.Name}}</strong></label></p>
              <md-input-container>
                <md-select class="select-element select-element-md2" placeholder="{{filter.Name}}" ng-model="filter.selectedValue">
                  <md-option value="false">Ninguno</md-option>
                  <md-option ng-repeat="value in filter.Values track by $index" value="{{$index}}">
                    {{value.Name}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>

            <div ng-if="filter.id == vm.colorFilterId " class="colorpicker-sp-wrapper">
              <label><strong>Color</strong></label>
              <div layout="row" layout-wrap class="colorpicker-sp md-whiteframe-1dp">
                <a
                  ng-repeat="color in filter.Values track by $index"
                  ng-click="vm.toggleColor(color.id, filter)"
                  ng-class="{'wrap-on': vm.isActiveColor(color.id, filter)}"
                  class="colorpicker-sp-color-wrap"
                  flex
                  title="{{color.Name}}"
                  >
                  <span
                    class="colorpicker-sp-color"
                    ng-class="{ 'colorpicker-sp-color-black' : (color.Code == 'Negro' || color.Code == '#000000') }"
                    ng-style="{'background-color': color.Code}">
                  </span>
                </a>
              </div>
            </div>

          </div>


        </div>
      </section>
      <!--END VARIANT FILTERS-->


      <section class="color-section" layout="row" layout-wrap layout-align="start start">
        <!--COLOR-->

        <div class="input-element">
          <label>Color detallado</label>
          <div class="input-element-inner">
            <input type="text" ng-model="vm.product.DetailedColor" name="Color_detallado" placeholder="Color detallado *">
          </div>
          <p class="input-hint"><strong>SAP:</strong> {{vm.product.U_COLOR}}</p>
        </div>

        <!--END COLOR-->

      </section>

      <!--ASIENTOS-->
      <!--
      <div class="input-element number-element">
        <label>Asientos</label>
        <div class="input-element-inner">
          <input type="number" min="0" max="10" ng-model="vm.product.Seats" >
        </div>
      </div>
      -->
      <!--END ASIENTOS-->

      <!--GARANTIA-->
      <!--
      <div class="wyswyg-block">
        <h2><strong>GARANTIA</strong></h2>
        <label for=""><strong>Texto garantia</strong></label>
        <textarea ui-tinymce="tinymceOptions" ng-model="vm.product.GuaranteeText"></textarea>
      </div>

      <div layout="row" >
        <div class="select-element-wrapper">
            <p class="select-element-label"><label><strong>Tiempo de garantia</strong></label></p>
            <md-select class="select-element" placeholder="Tiempo de garantia" ng-model="vm.product.GuaranteeUnit">
              <md-option ng-repeat="guarenteeUnit in [0,1,2,3,4,5,6,7,8,9,10,11,12]" value="{{guarenteeUnit}}">
                {{guarenteeUnit}}
              </md-option>
            </md-select>
          <p class="input-hint"><strong>SAP:</strong> {{vm.product.U_garantia}}</p>
        </div>

        <div class="input-element" >
          <md-input-container>
            <md-select class="select-element" placeholder="Tiempo de garantia (Unidad de medida)" ng-model="vm.product.GuaranteeUnitMsr">
              <md-option ng-repeat="guarenteeUnit in vm.guarenteeUnits" value="{{guarenteeUnit.value}}">
                {{guarenteeUnit.label}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
      -->
      <!--END GARANTIA-->

      <section layout="row" layout-wrap layout-align="space-between start">

        <div class="select-element-wrapper" flex="45" flex-xs="100">
          <p class="select-element-label"><label><strong>Pais de producción (Diseñado en)</strong></label></p>
          <md-select class="select-element" placeholder="Pais de producción (Diseñado en)" ng-model="vm.product.DesignedInCountry">
            <md-option ng-repeat="(code, country) in vm.countries track by $index" value="{{code}}">
              {{country}}
            </md-option>
          </md-select>
          <p class="input-hint"><strong>SAP:</strong> {{vm.product.U_disenado_en}}</p>
        </div>

        <div class="select-element-wrapper" flex="45" flex-xs="100">
          <p class="select-element-label"><label><strong>Pais de ensamble (Hecho en)</strong></label></p>
          <md-select  class="select-element" placeholder="Pais de ensamble (Hecho en)" ng-model="vm.product.MadeInCountry">
            <md-option ng-repeat="(code, country) in vm.countries track by $index" value="{{code}}">
              {{country}}
            </md-option>
          </md-select>
          <p class="input-hint"><strong>SAP:</strong> {{vm.product.U_ensamblado_en}}</p>
        </div>

      </section>

      <!--CHECKED-->
      <div>
        <h2><strong>Revisión</strong></h2>
        <div>
          <md-checkbox class="spaced-checkbox block-checkbox" ng-model="vm.product.CheckedFeatures">Caracteristicas revisadas</md-checkbox>
        </div>
      </div>
      <!--END CHECKED-->



      <div layout="row" layout-align="end center">
        <md-button ng-click="vm.updateFeatures(featuresForm)" class="md-raised md-primary action-button">Guardar</md-button>
      </div>

    </form>

  </md-content>
</section>
