<section class="md-whiteframe-z1">
  <md-toolbar class="demo-toolbar md-primary">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <h3>CONFIGURACIÓN</h3>
      <md-button ng-click="vm.updateConfig(configForm)" class="md-raised md-primary action-button">Guardar</md-button>
    </div>
  </md-toolbar>
  <md-content class="md-padding">

    <form name="configForm" ng-submit="vm.updateConfig(configForm)" class="md-inline-form" novalidate>

      <!--CATEGORY CHOOSER-->
      <div>
        <h2 class="no-margin"><strong>CATEGORIAS</strong></h2>
        <div layout="row" layout-align="space-between start" layout-wrap>
          <div ng-repeat="group in vm.categoriesGroups track by $index" flex="30" flex-sm="100" flex-xs="100">
            <p ng-if="group.length > 0">
              <label><strong>Categorias Nivel {{$index+1}}</strong></label>
            </p>
            <div class="scroll-column">
              <md-input-container class="checkboxes-dropdown-wrap">
                <md-select 
                  class="checkboxes-dropdown select-element" ng-model="vm.selectedCategories[$index]"
                  data-md-container-class="selectdemoSelectHeader"
                  multiple
                >
                  <md-optgroup label="Categorias">
                    <md-option 
                    ng-repeat="category in group | filter:searchTerm | orderBy: 'Name'"
                    ng-value="category.id">
                      {{category.Name}}
                    </md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <!--END CATEGORY CHOOSER-->



      <section layout="row" layout-wrap layout-align="space-between start">

        <!--DISPLAYS-->
        <div class="editor-column" flex="30" flex-sm="100" flex-xs="100">
          <h2><strong>Pagina Display</strong></h2>
          <div>
            <md-checkbox class="spaced-checkbox block-checkbox" ng-model="vm.toggleAllDisplays">
              Todos
            </md-checkbox>

            <md-checkbox class="spaced-checkbox block-checkbox" ng-repeat="display in vm.displays" ng-model="vm.product[display.handle]" ng-click="vm.checkAllMark( vm.product[display.handle] )">{{display.label}}</md-checkbox>
          </div>
        </div>
        <!--END DISPLAYS-->

        <!--SOCIEDAD-->
        <div class="editor-column" flex="30" flex-sm="100" flex-xs="100">
          <p class="select-element-label"><label><strong>Sociedad*</strong></label></p>
          <p class="input-hint"><strong>SAP: </strong>{{vm.sas[vm.product.U_Empresa]}}</p>
        </div>
        <!--END SOCIEDAD-->

        <!--MARCA-->
        <div class="editor-column" flex="30" flex-sm="100" flex-xs="100">

            <p class="input-hint">
              <strong>SAP:</strong>Marca: {{vm.product.ItmsGrpNam}}
            </p>


            <!--MARCA APP-->
            <br/>
            <p class="select-element-label"><label><strong>Marca</strong></label></p>
            <p><a href="#" ng-click="vm.openBrandForm($event)">Crear nueva marca</a></p>

            <md-input-container ng-if="vm.customBrands && vm.customBrands.length > 0">
              <md-select class="select-element select-element-md" ng-model="vm.product.CustomBrand">

                <md-option
                  ng-repeat="brand in vm.customBrands | orderBy:'Name' track by $index"
                  ng-value="brand.id">
                  {{brand.Name}}
                </md-option>
              </md-select>
            </md-input-container>


        </div>
        <!--MARCA-->

      </section>

      <!--GROUP PRODUCTS-->
      <div>
        <h2>
          <label><strong>AGRUPADORES</strong></label>
          <a href="" ng-click="vm.openGroupForm($event)">(Crear nuevo agrupador)</a>
        </h2>
        <p class="input-hint">
          <strong>SAP</strong>: {{vm.product.SuppCatNum}}
          <span class="related-list" ng-if="vm.relatedProducts.length > 0">
             | Relacionados:
            <a
              ng-repeat="related in vm.relatedProducts track by $index"
              ng-href="/products/edit/{{related.ItemCode}}"
              target="_blank"
              ng-if="related.ItemCode != vm.product.ItemCode"
            >
              {{related.ItemCode}}
            </a>
          </span>
        </p>
        <md-autocomplete
            md-no-cache="false"
            md-selected-item="vm.selectedGroup"
            md-search-text="vm.searchGroupText"
            md-items="item in vm.queryGroups(vm.searchGroupText)"
            md-selected-item-change="vm.selectedGroupChange(item)"
            md-item-text="item.Name + ' | ' + vm.groupTypes[item.Type]"
            md-min-length="0"
            placeholder="Buscar agrupador">
          <md-item-template>
            <span md-highlight-text="vm.searchGroupText" md-highlight-flags="^i">{{item.Name}} | {{vm.groupTypes[item.Type]}}</span>
          </md-item-template>
          <md-not-found>
            No se encontro "{{vm.searchGroupText}}".
          </md-not-found>
        </md-autocomplete>


        <p ng-if="vm.product.Groups.length <= 0">No hay agrupadores asignados al producto</p>
        <div ng-show="vm.isLoadingGroups" layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
        </div>
        <ul ng-if="!vm.isLoadingGroups" class="draggable-list" dnd-list="vm.group.Products">
          <li
            ng-repeat="group in vm.product.Groups"
            class="noright"
            layout="row"
            layout-align="space-between center"
            dnd-draggable="group"
            dnd-moved="vm.product.Groups.splice($index, 1)"
            dnd-selected="vm.selectedGroup = group"
            ng-class="{'selected-item': vm.selectedGroup === group}"
            dnd-effect-allowed="move">
            <p>{{group.Name}} | {{ vm.groupTypes[group.Type] }}</p>
            <div class="md-secondary">
              <md-button ng-click="vm.removeProductFromGroup(group.id, $index)" class="md-raised md-warn">
                Remover
              </md-button>
            </div>
          </li>
        </ul>

      </div>
      <!--GROUP PRODUCTS-->

      <!--CHECKED-->
      <div>
        <h2><strong>Revisión</strong></h2>
        <div>
          <md-checkbox class="spaced-checkbox block-checkbox" ng-model="vm.product.CheckedStructure">Estructura revisada</md-checkbox>
        </div>
      </div>
      <!--END CHECKED-->
      
      <!--IMMEDIATE DELIVERY-->
      <!--
      <br/>
      <div>
        <h2><strong>Entrega inmediata</strong></h2>
        <div>
          <md-checkbox class="spaced-checkbox block-checkbox" ng-model="vm.product.immediateDelivery">Entrega inmediata</md-checkbox>
        </div>
      </div>
      -->      
      <!--END IMMEDIATE DELIVERY-->

      <!--FREESALE-->
      <br/>
      <div>
        <h2><strong>FreeSale</strong></h2>
        <div layout="row">
          
          <div flex="30">
            <md-checkbox
              class="spaced-checkbox block-checkbox" 
              ng-model="vm.product.freeSale">FreeSale</md-checkbox>
          </div>

          <div flex="20" ng-if="vm.product.freeSale" class="input-element number-element">
            <label>Inventario CEDIS Q.Roo</label>
            <div class="input-element-inner">
              <input 
                type="number" 
                ng-model="vm.product.freeSaleStock" 
                >
            </div>
          </div>

          <div flex="25" ng-if="vm.product.freeSale" class="input-element number-element">
            <label>Dias de llegada al almacen</label>
            <div class="input-element-inner">
              <input 
                type="number" 
                ng-model="vm.product.freeSaleDeliveryDays" 
                >
            </div>
          </div>

        </div>

      </div>
      <!--END FREESALE-->

      <!--DELIVERY TYPE-->
      <div>
        <p class="select-element-label"><label><strong>Tipo de entrega</strong></label></p>

        <md-input-container>
          <md-select 
            class="select-element select-element-md" 
            ng-model="vm.product.deliveryType"
          >
            <md-option
              ng-repeat="type in vm.deliveryTypes track by $index"
              ng-value="type.value">
              {{type.label}}
            </md-option>
          </md-select>
        </md-input-container>        
      </div>
      <!--END DELIVERY TYPE-->


      <div layout="row" layout-align="end center">
        <md-button ng-click="vm.updateConfig(configForm)" class="md-raised md-primary action-button">Guardar</md-button>
      </div>

  </md-content>
</section>
