<div>
  <section class="file-manager ">
    <md-toolbar class="demo-toolbar md-primary">
      <div class="md-toolbar-tools" layout-align="space-between center">
        <h3>MULTIMEDIA</h3>
        <md-button ng-click="vm.updateMedia(mediaForm)" class="md-raised md-primary action-button">Guardar</md-button>
      </div>
    </md-toolbar>
    <md-content class="md-padding md-whiteframe-z1">

      <form name="mediaForm" ng-submit="vm.updateMedia(mediaForm)" class="md-inline-form" novalidate>

        <!--IMAGEN PRINCIPAL-->
        <div>
          <h2>
            <strong>IMAGEN PRINCIPAL</strong>
          </h2>

          <section class="feature-image-container" layout="row" layout-wrap layout-align="start start">

            <!--IMAGEN PRINCIPAL INPUT-->
            <div flex="25" flex-sm="100" flex-xs="100">
              <div class="file-manager-thumbs" layout="row" layout-align="space-between start" layout-wrap>
                <span ng-if="vm.product.icon_filename && !vm.isLoadingAvatar" class="file-manager-thumb">
                  <img ngf-thumbnail="vm.api.cdnUrl+'/uploads/products/'+vm.product.icon_filename+'?d=300x300' || 'assets/images/product.png'">
                </span>

                <span ng-if='vm.isLoadingAvatar' class='loader'>
                  <div layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                  </div>
                  <span>Cargando</span>
                </span>

              </div>

              <md-button ng-if="!vm.isLoadingAvatar" class="file-manager-btn md-raised md-primary" ngf-select="vm.updateIcon($file)">Subir</md-button>

              <md-button ng-if="vm.product.icon_filename && !vm.isLoadingAvatar" class="file-manager-btn md-raised md-warn" ng-click="vm.removeIcon()">Remover imagen</md-button>

              <md-button ng-if="vm.product.icon_filename && !vm.isLoadingAvatar" class="file-manager-btn md-raised md-primary action-button">
                <a class="download-btn" ng-href="{{vm.api.cdnUrl+'/uploads/products/'+vm.product.icon_filename}}" download>
                  Descargar
                </a>

              </md-button>

            </div>
            <!--END IMAGEN PRINCIPAL INPUT-->

            <!--TITULO IMAGEN PRINCIPAL-->
            <!--
            <div class="input-element" flex="75" flex-sm="100" flex-xs="100">
              <label>Titulo imagen principal</label>
              <div class="input-element-inner">
                <input type="text" ng-model="vm.product.icon_description" name="icon_description" placeholder="Titulo imagen principal">
              </div>
              <div ng-messages="mediaForm.icon_description.$error" ng-show="mediaForm.icon_description.$touched"
                   role="alert">
                  <div ng-message="required">
                      <span>Este campo es requerido.</span>
                  </div>
              </div>
            </div>
            -->
            <!--END TITULO IMAGEN PRINCIPAL-->

          </section>
        </div>
        <!--END IMAGEN PRINCIPAL-->

        <!--IMAGENES EXTRA-->
        <h2>
          <strong>IMAGENES EXTRA</strong>
        </h2>
        <div ng-show="vm.isLoadingFiles" layout="row" layout-sm="column" layout-align="space-around">
          <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
        </div>
        <ul ng-show="!vm.isLoadingFiles" class="draggable-list draggable-list-row" dnd-list="vm.product.files" layout="row" layout-wrap>
          <li ng-repeat="file in vm.product.files" class="noright" flex="20" dnd-draggable="file" dnd-moved="vm.product.files.splice($index, 1)"
            dnd-selected="vm.selectedFile = file" ng-click='file.selected = !file.selected' ng-class="vm.fileClass(file)" dnd-effect-allowed="move">
            <img ngf-thumbnail="vm.api.cdnUrl+'/uploads/'+vm.dir+'/'+file.filename+'?d=600x600' || 'assets/images/product.png'">
          </li>
        </ul>

        <md-button class="file-manager-btn md-raised md-primary" ngf-select="vm.uploadFiles($files)" ng-disabled="vm.isLoadingFiles"
          multiple="multiple">Subir imagenes</md-button>

        <md-button ng-if="vm.product.files.length > 0" class="md-raised md-warn" ng-click="vm.removeFiles()" ng-disabled="vm.isLoadingFiles">Eliminar archivos seleccionados</md-button>
        <!--END IMAGENES EXTRA-->

        <!--VIDEO-->
        <h2>
          <strong>VIDEO</strong>
        </h2>
        <div class="input-element textarea-element">
          <label>Video(iframe)</label>
          <div class="input-element-inner">
            <textarea ng-model="vm.product.Video" cols="30" rows="3"></textarea>
          </div>
        </div>
        <!--END VIDEO-->

        <!--CHECKED-->
        <div>
          <h2>
            <strong>Revisión</strong>
          </h2>
          <div>
            <md-checkbox class="spaced-checkbox block-checkbox" ng-model="vm.product.CheckedPhotos">Fotos revisadas</md-checkbox>
          </div>
        </div>
        <!--END CHECKED-->




        <div layout="row" layout-align="end center">
          <md-button ng-click="vm.updateMedia(mediaForm)" class="md-raised md-primary action-button">Guardar</md-button>
        </div>

      </form>

    </md-content>
  </section>
</div>