<md-dialog aria-label=""  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Crear agrupador</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form action="#">
          <div>
            <md-input-container>
              <label>Nombre del agrupador</label>
              <input type="text" ng-model="group.Name">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>URL</label>
              <input type="text" ng-model="group.Handle">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Tipo de agrupador</label>
              <md-select ng-model="group.Type">
                <md-option ng-repeat="type in types" ng-value="type.handle">
                  {{type.label}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>

        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button ng-click="submit(group)" style="margin-right:20px;">
        Crear
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
