<md-dialog aria-label=""  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-if="action==='add'">Crear tamaño de empaque</h2>
        <h2 ng-if="action==='edit'">Editar tamaño de empaque</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form action="#">
          <div layout="row" layout-align="start start">
            <md-input-container flex>
              <label>Longitud</label>
              <input type="text" ng-model="size.Length">
            </md-input-container>
            <md-input-container>
              <md-select ng-model="size.LengthUnitMsr" placeholder="Unidad de medida" flex>
                <md-option value="cm">cm</md-option>
                <md-option value="m">m</md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row" layout-align="start start">
            <md-input-container flex>
              <label>Ancho</label>
              <input type="text" ng-model="size.Width">
            </md-input-container>
            <md-select ng-model="size.WidthUnitMsr" placeholder="Unidad de medida" flex>
              <md-option value="cm">cm</md-option>
              <md-option value="m">m</md-option>
            </md-select>
          </div>
          <div layout="row" layout-align="start start">
            <md-input-container flex>
              <label>Altura</label>
              <input type="text" ng-model="size.Height">
            </md-input-container>
            <md-select ng-model="size.HeightUnitMsr" placeholder="Unidad de medida" flex>
              <md-option value="cm">cm</md-option>
              <md-option value="m">m</md-option>
            </md-select>
          </div>
          <div layout="row" layout-align="start start">
            <md-input-container flex>
              <label>Volumen</label>
              <input type="text" ng-model="size.Volume">
            </md-input-container>
            <md-select ng-model="size.VolumeUnitMsr" placeholder="Unidad de medida" flex>
              <md-option value="cc">cc</md-option>
              <md-option value="mc">mc</md-option>
            </md-select>
          </div>
          <div layout="row" layout-align="start start">
            <md-input-container flex>
              <label>Peso</label>
              <input type="text" ng-model="size.Weight">
            </md-input-container>
            <md-select ng-model="size.WeightUnitMsr" placeholder="Unidad de medida" flex>
              <md-option value="g">g</md-option>
              <md-option value="kg">kg</md-option>
            </md-select>
          </div>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button ng-click="submit(size)" style="margin-right:20px;">
        {{actionLabel}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
