<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Configuración</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div class="white-bg md-whiteframe-4dp">


          <section class="md-whiteframe-z1">
            <md-toolbar class="demo-toolbar md-primary">
              <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h3>Configuración</h3>
              </div>
            </md-toolbar>
            <md-content class="md-padding">

                <!--
                <section ng-show="!vm.isLoadingProducts">
                  <p>Sincronizar productos</p>
                  <md-button
                    class="md-raised md-primary action-button"
                    ng-click="vm.syncProducts()">
                    Sincronizar
                  </md-button>
                </section>
                <section ng-show="vm.isLoadingProducts">
                  <div  layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
                  </div>
                  <p>Sincronizando productos</p>
                </section>
                -->


              
              <form action ng-submit="vm.importImagesSap()">

                <div class="input-element">
                  <label>Numero de productos*</label>
                  <div class="input-element-inner">
                    <input type="text" ng-model="vm.productsNum" name="Numero de productos" required placeholder="Numero de productos*" >
                  </div>
                </div>


                <md-button class="md-raised md-primary action-button" ng-show="!vm.isImportingImages" ng-click="vm.importImagesSap()">
                  Importar imagenes de SAP
                </md-button>


                <section ng-show="vm.isImportingImages">
                  <div  layout="row" layout-sm="column" layout-align="space-around">
                    <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
                  </div>
                  <p>Importando imagenes de SAP, este proceso puede tardar varios minutos</p>
                </section>

              </form>
              

            </md-content>
          </section>


        </div>

    </div>
    <!-- / CONTENT -->

</div>


