<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between">
        <div layout="column" layout-align="center start">
            <div class="title">Configuración</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <div class="white-bg md-whiteframe-4dp">


          <section class="md-whiteframe-z1">
            <md-toolbar class="demo-toolbar md-primary">
              <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <h3>Configuración de envios</h3>
              </div>
            </md-toolbar>
            <md-content class="md-padding">

              <div ng-show="vm.isLoading" layout="row" layout-sm="column" layout-align="space-around">
                <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
              </div>

              <form name="updateForm" ng-show="!vm.isLoading" ng-submit="vm.updateZipcodeStates(updateForm)">

                <table class="zipcodestates-table">
                  <thead>
                    <tr>
                      <th>Región</th>
                      <th>Estado</th>
                      <!--<th>Activo</th>-->
                      <th style="width:20%">Valor</th>
                      <th>Indicador</th>
                    </tr>
                    
                    <tbody ng-repeat="zone in vm.zones ">
                      <tr class="top-zone-row">
                        <td class="to-upper">{{zone.name}}</td>
                        <td></td>
                        <td>
                          <div class="input-element">
                            <div class="input-element-inner">
                              <input
                                type="text"
                                ng-change="vm.onZoneChange(zone)"
                                ng-model="zone.deliveryPriceValue">
                            </div>
                          </div>
                        </td>
                        <td>
                          <select ng-change="vm.onZoneChange(zone)" ng-model="zone.deliveryPriceMode">
                            <option value="amount">Monto</option>
                            <option value="percentage">Porcentaje</option>
                          </select>
                        </td>
                      </tr>
                      <tr ng-repeat="state in zone.states">
                        <td></td>
                        <td>{{state.name}}</td>
                        <!--<td>{{state.isActive}}</td>-->                   
                        <td>
                          <div class="input-element">
                            <div class="input-element-inner">
                              <input
                                type="text"
                                ng-model="state.deliveryPriceValue">
                            </div>
                          </div>
                        </td>
                        <td>
                          <select ng-model="state.deliveryPriceMode">
                            <option value="amount">Monto</option>
                            <option value="percentage">Porcentaje</option>
                          </select>
                        </td>
                        <td></td>
                      </tr>    
                    </tbody>
                  
                  </thead>
                </table>


                <md-button class="md-raised md-primary action-button" type="submit">
                  Guardar
                </md-button>

              </form>

            </md-content>
          </section>


        </div>

    </div>
    <!-- / CONTENT -->

</div>


