<md-dialog aria-label=""  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-if="action==='add'">Crear valor de filtro</h2>
        <h2 ng-if="action==='edit'">Editar valor de filtro</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form action="#">
          <div>
            <md-input-container>
              <label>Nombre del valor</label>
              <input type="text" ng-model="value.Name">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Handle</label>
              <input type="text" ng-model="value.Handle">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Keywords</label>
              <input type="text" ng-model="value.Keywords">
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Codigo</label>
              <input type="text" ng-model="value.Code">
            </md-input-container>
          </div>

        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button ng-click="submit(value)" style="margin-right:20px;">
        {{actionLabel}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
