<div id="reset-password" class="flex-scrollable" layout="column" ms-scroll>
    <div id="reset-password-form-wrapper" layout="column" layout-align="center center">
        <div id="reset-password-form" class="md-whiteframe-8dp">
            <div class="logo-wrapper">
              <img src="assets/images/logo-actual-blanco.png" alt="">
            </div>

            <div class="title">Restablecer la contraseña</div>

            <p>{{vm.message}}</p>
            <p ng-show="vm.processCompleted">
                <a href="http://ventas.miactual.com">
                    Haz click aqui para iniciar sesión
                </a>
            </p>

            <form name="resetPasswordForm" ng-submit="vm.resetPassword()" ng-show="!vm.isLoading && !vm.processCompleted" novalidate>
                <md-input-container class="md-block" md-no-float>
                    <input type="email" name="email" ng-model="vm.form.email" placeholder="Email"
                           ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="resetPasswordForm.email.$error" ng-show="resetPasswordForm.email.$touched"
                         role="alert" multiple>
                        <div ng-message="required">
                            <span>Este campo es requerido</span>
                        </div>
                        <div ng-message="pattern">
                            <span>El e-mail debe ser valido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="password" ng-model="vm.form.password" placeholder="Contraseña"
                           required>
                    <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$touched"
                         role="alert">
                        <div ng-message="required">
                            <span>Este campo es requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" md-no-float>
                    <input type="password" name="passwordConfirm" ng-model="vm.form.passwordConfirm"
                           placeholder="Contraseña (Confirmar)"
                           required>
                    <div ng-messages="resetPasswordForm.passwordConfirm.$error"
                         ng-show="resetPasswordForm.passwordConfirm.$touched" role="alert">
                        <div ng-message="required">
                            <span>Este campo es requerido</span>
                        </div>
                    </div>
                </md-input-container>

                <md-button type="submit" class="md-raised md-accent" aria-label="UPDATE MY PASSWORD"
                           ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine"
                >
                    Restablecer
                </md-button>
            </form>

            <div ng-show="vm.isLoading" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
            </div>

        </div>
    </div>
</div>
