<md-dialog class="form-dialog" aria-label="Crear categoria"  ng-cloak>

  <form name="createForm" ng-submit="create(createForm)" class="md-inline-form" novalidate>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Crear categoria</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>

      <div ng-show="isLoading" class="loading-wrapper" layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular class="md-accent" md-diameter="96" md-mode="indeterminate"></md-progress-circular>
      </div>

      <div ng-show="!isLoading" class="md-dialog-content">

        <div class="input-element">
          <label>Nombre*</label>
          <div class="input-element-inner">
            <input type="text" ng-model="category.Name" required placeholder="Nombre*">
          </div>
        </div>

        <div class="input-element">
          <label>Keywords</label>
          <div class="input-element-inner">
            <input type="text" ng-model="category.Keywords" placeholder="Keywords">
          </div>
        </div>

        <div class="input-element">
          <label>URL*</label>
          <div class="input-element-inner">
            <input type="text" ng-model="category.Handle" required placeholder="URL*">
          </div>
        </div>


        <div class="input-element textarea-element">
          <label>Descripción</label>
          <div class="input-element-inner">
            <textarea ng-model="category.Description" rows="5" placeholder="Descripción"></textarea>
          </div>
        </div>

        <div class="category-form-editor">
          <p>
            <md-checkbox ng-model="category.IsMain" ng-click="toggleCategoryMain()" aria-label="Categoria principal">
              Categoria principal
            </md-checkbox>
          </p>


          <div ng-if="!category.IsMain" class="input-element number-element">
            <label>Nivel</label>
            <div class="input-element-inner">
              <input type="number" min="2" max="3" ng-model="category.CategoryLevel"  placeholder="Category Level">
            </div>
          </div>

          <h2 ng-if="!category.IsMain"><label><strong>Categorias padre</strong></label></h2>

          <div layout="row" layout-wrap>
            <div ng-if="!category.IsMain && category.CategoryLevel > 1" flex="50" flex-sm="100">
              <p>
                <label><strong>Categorias Nivel 1</strong></label>
              </p>
              <div >

                <md-input-container class="checkboxes-dropdown-wrap">
                  <md-select class="checkboxes-dropdown select-element" ng-model="selectedCategories[0]"
                     data-md-container-class="selectdemoSelectHeader"
                     multiple
                  >
                    <md-optgroup label="Categorias">
                      <md-option ng-value="category.id" ng-repeat="category in categoriesGroups[0] |
                       orderBy:'Name' |
                        filter:searchTerm">{{category.Name}}</md-option>
                    </md-optgroup>
                  </md-select>
                </md-input-container>

              </div>
            </div>


            <div ng-if="!category.IsMain && category.CategoryLevel > 2 "  flex="50" flex-sm="100">
              <p>
                <label><strong>Categorias Nivel 2</strong></label>
              </p>
              <div >
                <md-input-container class="checkboxes-dropdown-wrap">
                  <md-select class="checkboxes-dropdown select-element" ng-model="selectedCategories[1]"
                     data-md-container-class="selectdemoSelectHeader"
                     multiple
                  >
                    <md-optgroup label="Categorias">
                      <md-option ng-value="category.id" ng-repeat="category in categoriesGroups[1] |
                       orderBy:'Name' |
                        filter:searchTerm">{{category.Name}}</md-option>
                    </md-optgroup>
                  </md-select>
                </md-input-container>
              </div>

            </div>
          </div>

        </div>


      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       Cancelar
      </md-button>
      <md-button ng-click="create(createForm)" class="md-raised md-primary action-button">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
